.ant-card,
.ant-table {
  -webkit-box-shadow: 0 25px 46px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 25px 46px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 25px 46px -5px rgba(0, 0, 0, 0.1);
}

.gutter-row {
  padding: 0 64px !important;
}
